/* Basic styles for the app */
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  align-items: center;
  min-height: 100vh;
}

.innerContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}

.innerContainer > .search-bar {
  flex: 6.5;
}
.innerContainer > .filter-toggle {
  flex: 2.5;
}
.innerContainer > .theme-toggle {
  flex: 1;
  display: flex;
  justify-content: center;
}


input[type="text"], select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 0;
  width: 100%;
}

button {
  padding: 10px 16px;
  font-size: 1rem;
  margin: 10px 5px;
  border: none;
  border-radius: 8px;
  background-color: #4b89e7;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #2c599c;
}

/* Add Task button style */
.add-task-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s;
}

.add-task-button:hover {
  background-color: #0056b3;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.modal-content input {
  margin: 20px 0;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Theme changes */
body.light {
  background-color: #f0f0f0;
  color: black;
}

body.dark {
  background-color: #333;
  color: white;
}

ul {
  list-style-type: none;
}

.search-bar {
  position: relative;
  width: 100%;
}

.search-bar input {
  width: 100%;
  padding: 10px 10px 10px 35px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
}

.task-text {
  font-size: 1.2rem;
}

body.light .task-text {
  color: black;
}
body.dark .task-text {
  color: white;
}

.task-text.completed {
  text-decoration: line-through;
}